.about-elsapo {
    background-image: url(../img/about-elsapo/white-background.png);
    background-size: cover;
    padding: 25px;
    padding-top: 80px;
    padding-bottom: 90px;
}

.about-elsapo__content {
    max-width: 1200px;
}

.about-elsapo__title {
    font-family: "Raleway", sans-serif;
    color: var(--section-name-color);
    font-size: 38px;
}

.about-elsapo__hr {
    width: 70px;
    height: 2px;
    background-color: var(--button-color);
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-elsapo__description {
    color: var(--text-secondary-color);
    line-height: 2em;
    font-size: 16px;
}

.about-elsapo__img {
    max-width: 420px;
}

@media (min-width: 580px) {
    .about-elsapo__title {
        font-size: 50px;
    }
    .about-elsapo__content {
        display: grid;
        grid-template-columns: auto auto;
        background-color: white;
    }
}

@media (min-width: 1010px) {
    .about-elsapo__content {
        grid-column-gap: 80px;
        margin: auto;
    }
    .about-elsapo__description {
        line-height: 2.5em;
    }
}