

.contacts {
    background-image:url('../img/contacts/cherry.png'); 
    background-position: 99% -15%;
    background-size: 991%;
}

.contacts-entire {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px 24px;
    padding-top: 50px;
    padding-bottom: 90px;
}


.contacts__intro > p {
    position: relative;
    color: var(--text-secondary-color);
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    padding-bottom: 30px;
    
    
}

.contacts__intro__title {
    color: var(--section-name-color);
    font-size: 38px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    
} 

.contacts__intro__title__line {
    bottom: 10px;
    left: 0px;
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--button-color); /*why background color, not just a color??? */
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacts__bold {
    color: var(--section-name-color);
    font-size: 22px;
    font-family: "Lato", sans-serif;
    padding-top: 25px;
    padding-bottom: 10px; 
}

.contacts__simple {
    color: var(--text-primary-color);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 2;
}

.contacts__info__details__links > a {
    text-decoration: none;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20%;
    padding-top:10%;
    width: 272px;
    height: 604px;
    background-color: var(--light-text-color);
    border-radius: 10px;
    box-shadow:
    0 2.8px 63.2px rgba(0, 0, 0, 0.15),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    
}

input.contacts__form__fields {
    background-color: rgba(92, 92, 92, 0.12);
    padding: 20px 30px;
    margin: 12px 0 0;
    border: none;
    border-radius: 10px;
    text-align: center;
    height: 55px;
    width: 174px;
    text-overflow: ellipsis;
}

input.contacts__form__message {
    background-color: rgba(92, 92, 92, 0.12);
    padding: 20px 30px;
    margin: 12px 0 0;
    border: none;
    border-radius: 10px;
    text-align: center;
    height: 150px;
    width: 174px;
}

.contacts__form__button {
text-transform: uppercase;
font-size: 13px;
font-family: "Poppins", sans-serif;
text-align: center;
color: var(--section-name-color);
background-color: var(--button-color);
width: 174px;
height: 53px;
border-radius: 10px;
border: none;
margin-top: 20px;
margin-bottom: 20px;
}


@media (min-width: 768px) {
    
    .contacts {
        background-image:url('../img/contacts/cherry.png'); 
        background-position: 102% 5%;
        background-size: 200%;
    }
    
    .contacts-entire {
    display: grid;
    grid-template-areas: "intro form"
                        "info form";
    width: 100%;
    padding: 50px 32px 90px 32px;
    }

    .contacts__intro, .contacts__info {
    grid-area: intro;
    padding: 0 15px;
    margin: 0;
    }

    .contacts__info {
    grid-area: info;
    padding: 0 15px;
    height: auto;
    }

    .contacts__form {
    grid-area: form;
    margin: 0 15px;
    width: 345px;
    height: 625px;
    }

    input.contacts__form__fields {
        height: 55px;
        width: 250px;
    }

    .contacts__intro__title {
        font-size: 44px;
    }

    .contacts__info__address {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contacts__info__hours {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }

    .contacts__info__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contacts__info__details__links {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

}




