
.sitename{
    color: var(--elsapo-color);
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    margin-left: 10%;
}

.sitename, .header__buttons {
    margin-top:35px;
}
.header__buttons{
    padding: 60px;
}
.header{
    min-height: 500px;
}
.header__panel{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 111px;

}

@media(max-width:990px){
    .burger_icon{
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        margin: 40px;
    }
    .burger_icon span,
    .burger_icon::before,
    .burger_icon::after{
    position: absolute;
    background-color: var(--text-primary-color);
    height: 20%;
    width: 100%;
    margin-right: 150px;
    transition: all 0.3s ease 0s;
    z-index: 2;
    }
    .burger_icon::before,
    .burger_icon::after{
       content: "";
    }
    .burger_icon::before{
        top: 0;
    }
    .burger_icon::after{
        bottom: 0;
    }
    .burger_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger_icon.active span{
        transform: scale(1) translate(0px, 50%);
        height: 200%;
        padding: 20px;
        margin-top: -40px;
        background-color: var(--burger-after-color);
        z-index: 0;
    }
    .burger_icon.active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0,-50%);
        width: 150%;
        height: 30%;
    }
    .burger_icon.active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0,50%);
        width: 150%;
        height: 30%;
    }
}
.header__buttons a,.header__buttons_pc a{
    color: var(--header-buttons-color);
    font-family:"Open Sans", sans-serif;
    font-size:16px;
    font-weight:600;
    text-decoration-line:none;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

@media(min-width:990px){
    .header__buttons_pc a{
        color: var(--header-buttons-color);
        font-family:"Open Sans", sans-serif;
        font-size:16px;
        font-weight:600;
        text-decoration-line:none;
        float: inline-end;
        display:block;
    }
    .burger_icon span{
        display: none;
    }
}

.header__buttons a:hover,.header__buttons_pc a:hover{
    color: var(--button-color);
    font-size:17px;
    font-weight:900;
}

.nav_menu{
    position: fixed;
    top:0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--burger-fon-color);
    transition: all 0.3s ease 0s;
    z-index: 1;
}
.nav_menu.active{
    left:0;
    padding: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header__buttons.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}
body.lock{
    overflow: hidden;

}
.burger_icon.active{
    z-index: 1;
}

.header__buttons_pc{
    display: none;
}
@media(min-width:991px){
    .header__buttons_pc{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-right: 90px;
        padding-left: 90px;

    }
}

.sitename.active{
    z-index: 2;
}



.header__underpanel__fon img{
    display:block;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.header__underpanel__fon{
    background-image: url(../img/hero.png) ;
    background-size: cover;
    background-position: 35.50% 50.50%;
    min-height: 561px;
}
@media(min-width:770px){
    .header__underpanel__fon{
        min-height: 821.7px;
    }
}

.header__underpanel__foncontent{
    color: white;
    position:absolute;
    top: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__underpanel__sitename{
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    margin:auto;
}
.header__underpanel__description{
    font-family: "Open Sans", sans-serif;
    font-weight:700;
    font-size: 20px;
    text-align: center;
}

.header__underpanel{
    position:relative;
}

.header__underpanel__Browse a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 10px;
    border-color: transparent;
    height: 53px;
    width: 200px;
    font-weight:700;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    background-color: white;
    color: var(--button-color);
    cursor: pointer;
}