
.sitename{
    color: var(--light-green);
    font-size: 35px;
    font-family: Raleway, sans-serif;
}

.header{
    min-height: 600px;
}
.header__panel, .header__buttons{
    display: flex;
    width: 100%;
}
.header__buttons a{
    display: none;
}

@media(min-width:990px){
    .header__buttons a{
        color: var(--header-buttons-color);
        font-family:"Open Sans", sans-serif;
        font-size:16px;
        font-weight:600;
        text-decoration-line:none;
        margin: 20px;
        float: inline-end;
        display:block;
    }

}


.header__underpanel__fon img{
    display:block;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.header__underpanel__fon{
    background-image: url(../img/hero.png) ;
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

.header__underpanel__foncontent{
    color: white;
    position:absolute;
    top: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__underpanel__sitename{
    font-family:Raleway, sans-serif;
    font-size: 100px;
}

.header__underpanel{
    position:relative;
}