.our-promise {
    background-image: url(../img/our-promise/our-promise-background.png);
    background-size: cover;
    padding-bottom: 40px;
}

.our-promise__title {
    border: 0;
    color: var(--light-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    margin: 20px auto;  
    margin-top: -20px;
    padding-top: 60px; 
    text-align: center;
}

.our-promise__hr {
    background-color: var(--button-color);
    border: 0;
    height: 2px;
    margin: auto;
    width: 70px;
}

.our-promise__slogan-of-our-promise {
    box-sizing: border-box;
    color: var(--text-primary-color);
    font-size: 20px;
    line-height: 2em;
    margin: 30px auto;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
}

.our-promise__infoblock {
    box-sizing: border-box;
    margin: 30px auto;
    max-width: 1200px;
    text-align: center;
}

.our-promise__infoblock-brick {
    background-color: var(--light-text-color);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px;
    padding: 40px 20px 40px 20px;
    text-align: center;
}

.our-promise__infoblock-brick-heading {
    color: var(--text-primary-color);
    font-size: 22px;
    padding-bottom: 40px;
    text-align: center;
}

.our-promise__infoblock-brick-text {
    color: var(--text-secondary-color);
    font-size: 16px;
    line-height: 2em;
}

@media (min-width: 600px) {
    .our-promise {
        text-align: center;
    }

    .our-promise__title {
        font-size: 50px;
    }
}

@media (min-width: 768px) {
    .our-promise__infoblock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 40px auto;
    }
}