:root {
    --cardsGap: 30px;
}
  
body {
    padding: 0;
    margin: 0;
}
  

  
#our-producers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    background-color: white;
}
  
.section-title {
    color: #25634d;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 80px;
}
  
.hr-producers {
    background-color: #fed34a;
    border: 0;
    width: 70px;
    height: 2px;
    margin: 40px;
}
  
.cards {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * (var(--cardsGap) / 2));
}
  
.card {
    flex: 0 0 calc((100% - var(--cardsGap) * 3) / 3);
    display: flex;
    flex-direction: column;
    margin: 0 calc(var(--cardsGap) / 2);
    margin-bottom: 50px;
    border: none;
}
  
.card-title {
    color: #5c5c5c;
    font-family: "Lato", sans-serif;
    font-size: 26px;
    text-align: center;
    padding-top: 20px;
}
  
.card-description {
    color: #696969;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin: 20px;
}
  
.img-producers {
    border-radius: 8px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
  
@media (max-width: 768px) {
    .card {
      flex: 0 0 calc((100% - var(--cardsGap) * 2) / 2);
    }
}
  
@media (max-width: 425px) {
    .card {
      flex: 0 0 calc((100% - var(--cardsGap)));
      margin-right: 0;
    }
    .card-title {
      font-size: 18px;
      padding-top: 5px;
    }
    .card-description {
      font-size: 14px;
      margin-top: 0;
    }
    .our-producers-title {
      font-size: 28px;
      margin-bottom: 0px;
    }
    .hr-producers {
      border: 0;
      width: 50px;
      margin: 20px;
    }
}
/****************COUNTDOWN*****************/
   

.countdown-title {
    color: #25634d;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding-top: 80px;
    
   }
   
   .hr-producers {
    background-color: #fed34a;
    border: 0;
    width: 70px;
    height: 2px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
   }
   
   .countdown {
    font-family: Lato, sans-serif;
    color: #25634d;
    display: block;
    font-weight: 150;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
   }
   
   .countdown-number {
    padding: 15px;
    border-radius: 3px;
    background: #b8d94f;
    display: inline-block;
   }
   
   .countdown-time {
    padding: 40px;
    border-radius: 3px;
    background: #b8d94f;
    display: inline-block;
   }
   
   .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 20px;
   }