.our-location {
    background-image: url(../img/our-location/our-location-background.webp);
    background-size: cover;
    padding-bottom: 80px;
    padding-top: 80px;
}

.our-location__title {
    border: 0;
    color: var(--section-name-color);
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    margin: 20px auto;  
    padding-bottom: 15px; 
    padding-top: 60px;
    text-align: center;
}

.our-location__hr {
    background-color: var(--button-color);
    border: 0;
    height: 2px;
    margin: auto;
    margin-bottom: 40px;
    width: 70px;
}

.our-location__map {
    box-sizing: border-box;
    margin: 30px;
    text-align: center;
}

.our-location__map-gmap {
    display: block;
    height: 450px;
    text-align: center;
    width: 100%; 
}

.firstHeadingOfLocation {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
}

@media (min-width: 600px) {
    .our-location__title {
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    .our-location__map {
        max-width: 1200px;
        margin: auto;
        padding-bottom: 50px;
    }
}