.products__text{
    color: #25634d;
    text-align: center;
    font-size: 50px;
    font-family: "Raleway",sans-serif; 
}
.hr__products {
    width: 80px;
    background-color: #fed34a;
    height: 2px;
    border: 0;
    margin: 40px auto;
}
.item__text{
    color: #5c5c5c;
    font-family: "Lato",sans-serif;
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.products_img{
    border-radius: 15px;
    margin: auto; 
}
.prod_common{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    margin: auto;
    max-width: 1200px;
}

@media(max-width: 1100px){
    .prod_common{
        grid-template-columns: 3fr 3fr;
        margin: auto;
    }
    }
    @media(max-width: 650px){
        .prod_common{
            grid-template-columns: 1fr;
            margin: auto;
        }
        }
    
    .block__products{
        margin-top: 70px;
        margin-bottom: 70px;
    }

