:root {
    --header-buttons-color: #5C5C5C;
    --meals-fon-color:#F6F4F0;
    --burger-fon-color:#e9e8e7c9;
    --burger-after-color:#6e6b6ada;
    --elsapo-color: #b8d94f;
    --section-name-color: #25634d;
    --button-color: #fed34a;
    --text-primary-color: #5c5c5c;
    --text-secondary-color: #696969;
    --background-footer-color: #f6f5f0;
    --light-text-color: #ffffff;
    }
