:root {
    --elsapo-color: #b8d94f;
    --section-name-color: #25634d;
    --button-color: #fed34a;
    --text-primary-color: #5c5c5c;
    --text-secondary-color: #696969;
    --background-footer-color: #f6f5f0;
    }
